:host {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  min-width: 0;
}

.watchlist {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;  


  .list-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;  
  }

}


.section-sep {
  height: 1px;
  border-radius: 1px;
  background: color-mix(in srgb, var(--text) 10%, transparent);
  opacity: 0.6;
}


/* footer non scrollable */
.stats {
  flex: 0 0 auto;
  opacity: 0.7;
  font-size: var(--fs-lg);
  margin: auto;
}


/* Bed of popcorn*/
.popcorn-floor {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -16px;
  height: 12vh;
  pointer-events: none;
  z-index: 20;
  background-image: url("/assets/icons/popcorn-front.svg"),
    url("/assets/icons/popcorn-front.svg");

  background-repeat: repeat-x, repeat-x;
  background-size: var(--tile) 78px, var(--tile) 70px;

  background-position: calc(var(--tile) / 2) calc(100% + 0.5px),
    0 calc(100% + 0.5px);
}

@media (max-width: 768px) {
  .presence {
    display: flex;
  }
}


