<form class="form" [formGroup]="form" (ngSubmit)="addItem()">
  <div class="autocomplete">
    <input
      placeholder="Film, série ou animé…"
      formControlName="title"
      maxlength="100"
      autocomplete="off"
      class="autocomplete-input"
      [title]="form.controls['title'].value"
      (blur)="onBlur()"
    />

    <!-- Panneau des résultats -->
    <div
      class="autocomplete-panel"
      *ngIf="showResults && results().length > 0"
    >
      <ul class="autocomplete-list">
        <li
          class="autocomplete-item"
          *ngFor="let item of results()"
          (mousedown)="onOptionMouseDown($event, item)"
        >
          {{ getResultLabel(item) }}
        </li>
      </ul>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn--secondary btn--add"
    [disabled]="form.invalid || !selectedResult()"
  >
    Ajouter
    <span
      class="ic"
      [ngClass]="justAdded() ? 'ic-check' : 'ic-plus'"
      aria-hidden="true"
    ></span>
  </button>
</form>
