<main class="container">
  <header class="header">
    <div class="brand">
      <h1 class="brand-title">Watchlist</h1>
      <img
        class="brand-icon"
        src="/assets/icons/popcorn-icon.svg"
        alt="Popcorn icon"
      />
    </div>

    <div class="right">
      <div class="presence" *ngIf="supa.onlineUsers().length">
        <span
          *ngFor="let u of supa.onlineUsers()"
          class="chip"
          [class.chip--self]="u.isSelf"
          [class.chip--other]="!u.isSelf"
          [title]="u.name"
        >
          {{ u.name }}
        </span>
      </div>

      <div class="user">
        <button
          class="btn btn--logout"
          *ngIf="supa.user()"
          type="button"
          (click)="signOut()"
        >
          <span class="icon-logout" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </header>

  <section class="content">
    <ng-container *ngIf="supa.user(); else auth">
      <app-watchlist />
    </ng-container>
    <ng-template #auth>
      <app-auth />
    </ng-template>
  </section>
</main>
